<div class="modBox">
	<div class="titleBox">
		<p *ngFor="let item of menu; let i = index" (click)="toggleMenu($event, item, i)" class="titleMenu"
			[ngClass]="item.class">{{item.name}}</p>
	</div>
	<form class="showBox" [formGroup]="myForm" (ngSubmit)="confirmAdd()">
		<table style="width: 100%;" formArrayName="myInputs">
			<tr class="listBox">
				<th class="listButton"></th>
				<th class="listTitle" *ngFor="let field of fields;">{{field}}</th>
			</tr>
			<tr class="bItem" *ngFor="let value of values;">
				<td class="listButton">
					<button type="button" id="closeB" (click)="deleteItem($event, value)">X</button>
					<img id="updateB" src="/assets/tuerca.png" (click)="openUpdate($event, value)">
				</td>
				<td class="listTitle" *ngFor="let item of value | keyvalue">{{item.value}}</td>
			</tr>
			<tr class="formItem" [ngClass]="showRow" *ngFor="let form of forms; let j=index">
				<td class="listButton">
					<button type="submit" id="submitB">Add</button>
				</td>
				<td class="listTitle" *ngFor="let input of myInputs.controls; let i=index">
					<input class="lInput" type="text" [formControlName]="2*j+i" [placeholder]="fields[i%2]">
				</td>
			</tr>
		</table>
	</form>
	<!-- 	<button class="buttonBox" (click)="openForm()">
			{{addText}}
		</button> -->
</div>


<div class="addBox" [ngClass]="openBox">

	<div class="blackBox" [ngClass]="openBox" (click)="tBox()">

	</div>
	<div class="closeButton">
		<button class="closeB" (click)="tBox()">X</button>
	</div>

	<div class="formHeader">
		<h1>Agregar usuario</h1>
	</div>

	<form class="formContent" [formGroup]="passwordForm" (ngSubmit)="confirmPass()">
		<input class="lInput" type="password" formControlName="password" placeholder="Contraseña" />
		<input class="lInput" type="password" formControlName="passwordAgain" placeholder="Confirmar contraseña" />
	</form>

	<button type="submit" class="formButton">
		<p>Aceptar</p>
	</button>
</div>